<div class="m-section__content">
  <div class="m-alert m-alert--outline alert alert-success fade show unverified-alert-box" role="alert">
    <!-- <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button> -->
    <strong>
      Well done!
    </strong>
    You haven't verified you email, please go to your email box and click the verfication link in the email. 
    <a href='#' (click)="sendVerificationEmail()">Resend verification email</a> | 
    <a href='#' (click)="goToLogin()">Log In</a>  
  </div>
</div>