<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Income
      </h3>
    </div>
    <div>
      <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
        <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
          <i class="la la-plus m--hide"></i>
          <i class="la la-ellipsis-h"></i>
        </a>
        <div class="m-dropdown__wrapper">
          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
          <div class="m-dropdown__inner">
            <div class="m-dropdown__body">
              <div class="m-dropdown__content">
                <ul class="m-nav">
                  <li class="m-nav__section m-nav__section--first m--hide">
                    <span class="m-nav__section-text">
                      Quick Actions
                    </span>
                  </li>
                  <li class="m-nav__item">
                    <a href="" class="m-nav__link" [routerLink]="['/admin/income/new']">
                      <i class="m-nav__link-icon flaticon-plus"></i>
                      <span class="m-nav__link-text">
                        Add new income
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <!--begin:: Widgets/Best Sellers-->
      <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                All Income
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
                  Last Month
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab2_content" role="tab">
                  last Year
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget5_tab3_content" role="tab">
                  All time
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Content-->
          <div class="tab-content">
            <div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
                <div class="m_datatable m_datatable m-datatable m-datatable--default m-datatable--loaded" id="ajax_data">
                    <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
                      <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                          <th data-field="incomeId" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                            <span style="width: 50px;">
                              <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                                <input type="checkbox">
                                <span></span>
                              </label>
                            </span>
                          </th>
                          <th data-field="zone" class="m-datatable__cell">
                            <span style="width: 110px;">Zone</span>
                          </th>
                          <th data-field="type" class="m-datatable__cell">
                            <span style="width: 150px;">Type</span>
                          </th>
                          <th data-field="amount" class="m-datatable__cell">
                            <span style="width: 100px;">Amount</span>
                          </th>
                          <th data-field="date" class="m-datatable__cell">
                            <span style="width: 140px;">Date</span>
                          </th>
                          <!-- <th data-field="Gender" class="m-datatable__cell">
                            <span style="width: 110px;">Gender</span>
                          </th> 
                          <th data-field="Role" class="m-datatable__cell">
                            <span style="width: 80px;">Role</span>
                          </th>-->
                          <th data-field="Action" class="m-datatable__cell">
                            <span style="width: 110px;">Actions</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="m-datatable__body" style="">
                        <tr data-row="0" class="m-datatable__row" style="left: 0px;" *ngFor="let income of incomes">
                          <td data-field="incomeId" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                            <span style="width: 50px;">
                              <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                <input type="checkbox" value="1">
                                <span></span>
                              </label>
                            </span>
                          </td>
                          <td data-field="zone" class="m-datatable__cell">
                            <span style="width: 110px;">{{income.zone.name}}</span>
                          </td>
                          <td data-field="type" class="m-datatable__cell">
                            <span style="width: 150px;">
                                <span class="m-badge m-badge--brand m-badge--wide" [ngClass]="['m-badge--'+ (income.type.name|slugify)]">
                                  {{income.type.name}}
                                </span>
                            </span>
                          </td>
                          <td data-field="amount" class="m-datatable__cell">
                            <span style="width: 100px;">{{income.amount}}</span>
                          </td>
                          <td data-field="date" class="m-datatable__cell">
                            <span style="overflow: visible; width: 140px;">{{income.date | amDateFormat: 'YYYY-MM-DD'}}</span>
                          </td>
                          <!-- <td data-field="Gender" class="m-datatable__cell">
                            <span style="width: 110px;">N/A</span>
                          </td> -->
                          <!-- <td data-field="Role" class="m-datatable__cell">
                            <span style="width: 80px;">
                              <span class="m-badge m-badge--brand m-badge--wide" [ngClass]="['m-badge--'+user.role.name]">{{user.role.name}}</span>
                            </span>
                          </td>-->
                          <td data-field="Action" class="m-datatable__cell">
                            <span style="overflow: visible; width: 110px;">
                              <div class="dropdown">							
                                <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                  <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>
                                  <a *ngIf="true" class="dropdown-item" style="cursor: pointer;"><i class="la	la-close"></i> Delete</a>	
                                </div>
                              </div>
                            </span>
                          </td>
                          <!-- <td data-field="Role" class="m-datatable__cell">
                            <span style="width: 110px;">
                              <span class="m-badge m-badge--brand m-badge--wide">Pending</span>
                            </span>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
              <!-- <ngx-datatable
                class="nlccoc striped"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [reorderable]="reorderable"
                [selectionType]="'checkbox'">
                <ngx-datatable-column
                  [width]="30"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                  [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="Gender"></ngx-datatable-column>
                <ngx-datatable-column name="Company"></ngx-datatable-column>
              </ngx-datatable> -->
            </div>
            <div class="tab-pane" id="m_widget5_tab2_content" aria-expanded="false">
              <!--begin::m-widget5-->
              <div class="m-widget5">
                <div class="m-widget5__item">
                  <div class="m-widget5__pic">
                    <img class="m-widget7__img" src="./assets/app/media/img//products/product11.jpg" alt="">
                  </div>
                  <div class="m-widget5__content">
                    <h4 class="m-widget5__title">
                      Branding Mockup
                    </h4>
                    <span class="m-widget5__desc">
                      Make Metronic Great  Again.Lorem Ipsum Amet
                    </span>
                    <div class="m-widget5__info">
                      <span class="m-widget5__author">
                        Author:
                      </span>
                      <span class="m-widget5__info-author m--font-info">
                        Fly themes
                      </span>
                      <span class="m-widget5__info-label">
                        Released:
                      </span>
                      <span class="m-widget5__info-date m--font-info">
                        23.08.17
                      </span>
                    </div>
                  </div>
                  <div class="m-widget5__stats1">
                    <span class="m-widget5__number">
                      24,583
                    </span>
                    <br>
                    <span class="m-widget5__sales">
                      sales
                    </span>
                  </div>
                  <div class="m-widget5__stats2">
                    <span class="m-widget5__number">
                      3809
                    </span>
                    <br>
                    <span class="m-widget5__votes">
                      votes
                    </span>
                  </div>
                </div>
                <div class="m-widget5__item">
                  <div class="m-widget5__pic">
                    <img class="m-widget7__img" src="./assets/app/media/img//products/product6.jpg" alt="">
                  </div>
                  <div class="m-widget5__content">
                    <h4 class="m-widget5__title">
                      Great Logo Designn
                    </h4>
                    <span class="m-widget5__desc">
                      Make Metronic Great  Again.Lorem Ipsum Amet
                    </span>
                    <div class="m-widget5__info">
                      <span class="m-widget5__author">
                        Author:
                      </span>
                      <span class="m-widget5__info-author m--font-info">
                        Fly themes
                      </span>
                      <span class="m-widget5__info-label">
                        Released:
                      </span>
                      <span class="m-widget5__info-date m--font-info">
                        23.08.17
                      </span>
                    </div>
                  </div>
                  <div class="m-widget5__stats1">
                    <span class="m-widget5__number">
                      19,200
                    </span>
                    <br>
                    <span class="m-widget5__sales">
                      sales
                    </span>
                  </div>
                  <div class="m-widget5__stats2">
                    <span class="m-widget5__number">
                      1046
                    </span>
                    <br>
                    <span class="m-widget5__votes">
                      votes
                    </span>
                  </div>
                </div>
                <div class="m-widget5__item">
                  <div class="m-widget5__pic">
                    <img class="m-widget7__img" src="./assets/app/media/img//products/product10.jpg" alt="">
                  </div>
                  <div class="m-widget5__content">
                    <h4 class="m-widget5__title">
                      Awesome Mobile App
                    </h4>
                    <span class="m-widget5__desc">
                      Make Metronic Great  Again.Lorem Ipsum Amet
                    </span>
                    <div class="m-widget5__info">
                      <span class="m-widget5__author">
                        Author:
                      </span>
                      <span class="m-widget5__info-author m--font-info">
                        Fly themes
                      </span>
                      <span class="m-widget5__info-label">
                        Released:
                      </span>
                      <span class="m-widget5__info-date m--font-info">
                        23.08.17
                      </span>
                    </div>
                  </div>
                  <div class="m-widget5__stats1">
                    <span class="m-widget5__number">
                      10,054
                    </span>
                    <br>
                    <span class="m-widget5__sales">
                      sales
                    </span>
                  </div>
                  <div class="m-widget5__stats2">
                    <span class="m-widget5__number">
                      1103
                    </span>
                    <br>
                    <span class="m-widget5__votes">
                      votes
                    </span>
                  </div>
                </div>
              </div>
              <!--end::m-widget5-->
            </div>
            <div class="tab-pane" id="m_widget5_tab3_content" aria-expanded="false">
              
            </div>
          </div>
          <!--end::Content-->
        </div>
      </div>
      <!--end:: Widgets/Best Sellers-->
    </div>
  </div>
</div>
  