<div class="m-section__content">
  <div class="m-alert m-alert--outline alert alert-success fade show unverified-alert-box" role="alert">
    <!-- <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button> -->
    <strong>
      Well done!
    </strong>
    You haven't verified you email, please go to your email box and verfiy it. <a href='#'>Resend verification email</a>  
  </div>
  <!-- <div class="m-alert m-alert--outline alert alert-info alert-dismissible fade show" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
    <strong>
      Heads up!
    </strong>
    This alert needs your attention, but it's not super important.
  </div>
  <div class="m-alert m-alert--outline alert alert-warning alert-dismissible fade show" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
    <strong>
      Warning!
    </strong>
    Better check yourself, you're not looking too good.
  </div>
  <div class="m-alert m-alert--outline alert alert-accent alert-dismissible fade show" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
    <strong>
      Warning!
    </strong>
    Better check yourself, you're not looking too good.
  </div> -->
</div>