/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.btn--facebook, .btn--facebook:hover  {
  // background-color: #3B5998;
  background-color: #3B5998;
}

.btn-focus.btn--facebook {
  // border-color: #3B5998;
  border-color: #3B5998;
}

.btn-focus.btn--facebook:hover {
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-outline-focus.m-btn--air.btn--facebook, .btn-focus.m-btn--air.btn--facebook, .m-btn--gradient-from-focus.m-btn--air.btn--facebook {
  box-shadow: 0px 5px 10px 2px rgba(59, 89, 152, 0.19) !important;
}

.unverified-alert-box {
  max-width: 500px;
  margin: 10% auto;
}

.m-badge.m-badge--admin {
  background-color: #34bfa3;
  color: #fff;
}

.m-badge.m-badge--normal {
  background-color: #716aca;
  color: #fff;
}

.login-logo {
  width: 80%;
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__action {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 40px;
  padding: 0 7px 0 0;
  font-size: 0.65rem;
  color: red;
  cursor: pointer;
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__action [class^="la-"], 
.m-list-timeline__items .m-list-timeline__item .m-list-timeline__action [class*=" la-"] {
  font-size: 1.0rem;
}

